body {
  font-family: 'Lato';
}

/* main header */
/* from bulma css, font-awesome consistent size */
.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
}

/* dropdown menu item on hover */
@media all and (min-width: 992px) {
  .nav-item .dropdown-menu {
    margin-top: 0;
  }

  .nav-item .dropdown-menu {
    display: none;
  }

  .nav-item:hover .dropdown-menu {
    display: block;
  }
}

/* dropdown menu item bg color  */
.dropdown-item:hover {
  color: #fff;
  background: #212529;
}

/* buttons for filtered category */
a.category-badge > span.badge:hover {
  color: #fff !important;
  background: #212529 !important;
}

/* landing page */
.background {
  position: fixed;
  background: url('./../img/background.jpg') center/cover;
}

.shop-now-button {
  color: white;
  min-width: 260px;
  background: black;
}

.btn-black {
  color: white;
  background: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  color: white;
  background: #222;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #000 !important;
}

/* slightly larger container on xl screen */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar on medium screen up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

/* push down from top on mobile */
@media (max-width: 991px) {
  body {
    height: calc(100vh - 116px);
  }

  .header-container {
    padding-top: 116px;
  }
}