<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="{% url 'aLLproducts' %}" class="dropdown-item">All Products</a>
        <a href="" class="dropdown-item ">By Category</a>
        <a href="" class="dropdown-item ">By Rating</a>
        <a href="" class="dropdown-item">By Price</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clothings
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
        <a href="" class="dropdown-item">All Clothings</a>
        <a href="" class="dropdown-item">Activewears</a>
        <a href="" class="dropdown-item">Shirts</a>
        <a href="" class="dropdown-item">Jeans</a>


      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Homewares
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
        <a href="" class="dropdown-item">All Homewares</a>
        <a href="" class="dropdown-item">Kitchen &amp; Dining</a>
        <a href="" class="dropdown-item">Bed &amp; Bath</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Special Deals
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="" class="dropdown-item">All Specials</a>
        <a href="" class="dropdown-item">New Arrivals</a>
        <a href="" class="dropdown-item">Promo Sales</a>
        <a href="" class="dropdown-item">Clearance</a>

      </div>
    </li>
  </ul>
</div>