{% extends "base.html" %}
{% load static %}

{% block extra_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock extra_header %}

{% block extra_title %} 
  All Products
{% endblock extra_title %}

{% block body_content %}
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mt-5">
        <h3>Available Products</h3>
        <!-- show buttons for sorted parameters -->
          <!-- {% for condition in sortParam %}
          <a href="{% url 'aLLproducts' %}?category={{ condition.name }}" class="category-badge text-decoration-none">
            <span class="p-2 mt-2 badge badge-white text-black rounded-1 border border-dark">
              {{ condition.label }}</span>
          </a>
          {% endfor %} -->

        <!-- show buttons for filtered categories -->
        {% for category in filterCats %}
          <a href="{% url 'aLLproducts' %}?category={{ category.name }}" class="category-badge text-decoration-none">
            <span class="p-2 mt-2 badge badge-white text-black rounded-1 border border-dark">
              {{ category.label }}</span>
          </a>
        {% endfor %}
        <hr class="w-50 mb-1">
      </div>
    </div>

    <!-- display of products -->
    <div class="row">
      <div class="product-container col-10 offset-1">
        <!-- select box for products sorting on left, bottom on mobile -->
        <div class="row mt-1 mb-2">
          <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
              <select id="selector-box" class="border-{% if sortParams != 'None_None' %}info{% else %}black{% endif %} border custom-select custom-select-sm rounded-0">
                <option value="reset" {% if sortParams == 'None_None' %}selected{% endif %}>
                  Sort by...</option>
                <option value="category_asce" {% if sortParams == 'category_asce' %}selected{% endif %}>
                  Category (A-Z)</option>
                <option value="category_desc" {% if sortParams == 'category_desc' %}selected{% endif %}>
                  Category (Z-A)</option>
                <option value="name_asce" {% if sortParams == 'name_asce' %}selected{% endif %}>
                  Name (A-Z)</option>
                <option value="name_desc" {% if sortParams == 'name_desc' %}selected{% endif %}>
                  Name (Z-A)</option>
                <option value="price_asce" {% if sortParams == 'price_asce' %}selected{% endif %}>
                  Price (Low to High)</option>
                <option value="price_desc" {% if sortParams == 'price_desc' %}selected{% endif %}>
                  Price (High to Low)</option>
                <option value="rating_asce" {% if sortParams == 'rating_asce' %}selected{% endif %}>
                  Rating (Low to High)</option>
                <option value="rating_desc" {% if sortParams == 'rating_desc' %}selected{% endif %}>
                  Rating (High to Low)</option>
              </select>
            </div>
          </div>
          <!-- search output info on left, top on mobile -->
          <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
              {% if inputNames or sortParams or filterCats != 'None_None' %}
                <span class="small">
                  <a href="{% url 'aLLproducts' %}">ALL Products</a> |
                </span>
              {% endif %}

              {{ products|length }} items

              {% if inputNames %} 
                found for <strong>"{{ inputNames }}"</strong>
              {% endif %}
            </p>
          </div>
        </div>
        <!-- screen display of all available products -->
        <div class="row">
          {% for product in products %}
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
              {% if product.image %}
              <a href="{% url 'productDetail' product.id %}">
                <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
              </a>
              {% else %}
              <a href="{% url 'productDetail' product.id %}">
                <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid" alt="{{ product.name }}">
              </a>
              {% endif %}
              <div class="card-body pb-0">
                <p class="mb-0">{{ product.name }}</p>
              </div>
              <div class="card-footer bg-white pt-0 border-0 text-left">
                <div class="row">
                  <div class="col">
                    <p class="lead mb-0 text-left font-weight-bold">
                      ${{ product.price }}
                    </p>
                    {% if product.category %}
                      <p class="small mt-1 mb-0">
                        <a href="{% url 'aLLproducts' %}?category={{ product.category.name }}" class="text-muted">
                          <i class="fas fa-tag mr-1"></i>
                          {{product.category.label}}
                        </a>
                      </p>
                    {% endif %}
                    {% if product.rating %}
                      <small class="text-muted">
                        <i class="fas fa-star mr-1"></i>
                        {{ product.rating }} / 5
                      </small>
                    {% else %}
                      <small class="text-muted">
                        No Rating
                      </small>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- control display of hr below product rows -->
          {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-5">
              <hr>
            </div>
            {% endif %}

            {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
              <hr>
            </div>
            {% endif %}

            {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
              <hr>
            </div>
            {% endif %}

            {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
              <hr>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- back to top arrow button -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
      <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock body_content%}


{% comment %} jQuery embedded {% endcomment %}
<!-- postload javascript -->
<!-- block.super adds code, not replace exisitng -->

{% block postload_js %}
  {{ block.super }}
  <!-- back To top button handler-->
  <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
	  })
	</script>
    
  <!-- selector box handler -->
  <script type="text/javascript">
    $('#selector-box').change(function() {
      var selectorBox = $(this);
      var optionValue = selectorBox.val();
      var browserUrl = new URL(window.location);

      if(optionValue != "reset"){
        var parameter = optionValue.split("_")[0];
        var pattern = optionValue.split("_")[1];
        browserUrl.searchParams.set("parameter", parameter);
        browserUrl.searchParams.set("pattern", pattern);
        window.location.replace(browserUrl);
      } else {
        browserUrl.searchParams.delete("parameter");
        browserUrl.searchParams.delete("pattern");
        window.location.replace(browserUrl);
      }
    })
  </script>
{% endblock postload_js %}